body{
    margin: 0px;
    padding: 0px;
    font-family: Quicksand;
 }

.sign-up-button{
 	background: rgba(196,217,49,1);
 	color: #0f4ea1;
 	border-radius: 57px;
 	font-size: 16px;
 	width: 138px;
 	height: 33px;
 	border-style: none;
    line-height: 19px;
    font-weight: 700;
    font-style: normal;
    box-shadow: none;
    text-shadow: none;
 }

.flex{
 	display: flex;
 }

.f-center{
 	justify-content: center;
 	align-items: center;
 }

.f-column{
 	flex-direction: column;
 }

.footer{
 	display: grid;
    grid-template-columns: 34% 33% 33%;
 	background: rgba(93,64,87,1);
 	height: 5rem;
 }

.footer p{
 	line-height: 0;
    font-family: Open Sans;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-style: normal;
 }

.footer a{
 	line-height: 0;
    font-family: Open Sans;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-style: normal;
 }

.privacy-terms{
 	display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

.section-title-white{
 	font-size: 28px;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    font-family: "Open Sans";
 }

.faq-section{
 	background: rgba(196,159,159,1);
 	background-image: url(https://d9hhrg4mnvzow.cloudfront.net/get.myspendingtracker.com/d8c34e98-background-web_1000000000000000000028.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    position: relative;
    padding-bottom: 2rem;
    padding-top: 2rem;
 }

.faq-grid{
	display: grid;
    grid-template-columns: 50% 50%;
    width: 63%;
}

.faq-subsection h4{
	color: #ebe3aa;
	font-weight: 700;
	font-family: "Open Sans";
    font-size: 16px;
    line-height: 0;
}

.faq-subsection p{
	color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;

}

.faq-subsection{
	margin: 0% 10%;
}

.user-reviews-section{
	display: block;
    background: rgba(126,91,119,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 1.5rem;

}

.user-reviews-grid{
	display: grid;
	grid-template-columns: 50% 50%;
	width: 57%;
}

.user-review p{
	text-align: center;
	color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 2rem;
}

.white-line{
	background: #ffffff;
	height: 3px;
    width: 48px;
    margin-bottom: 0.8rem;
}

.user-review{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-name{
	font-weight: 700 !important;
    font-style: normal;
    font-size: 14px !important;
}

.stars{
	color: rgb(255, 255, 0); 
	font-family: Open Sans;
	font-size: 18px; 
	font-weight: 400; 
	font-style: normal;
    margin-top: 1rem;
}

.img-container{
	border: 2px solid white;
	border: 2px solid white;
    background: none;
    border-radius: 150px;
    height: 5.8rem;
    width: 5.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{
	width: 5rem;
    height: 5rem;
}

.section-title-purple {
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    color: #5d4056;
    text-align: center;
    margin-bottom: 3rem;
}

.how-works-section{
    padding-top: 3.2rem;
    padding-bottom: 1.5rem;
}

.how-works-grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 60%;
}

.how-works-item{
    display: grid;
    grid-template-rows: 50% 15% 15%;
    justify-items: center;
    text-align: center;
}

.how-works-item h4{
    color: rgb(108, 91, 123);
    font-weight: 700;
    font-size: 20px;
}

.how-works-item p{
    color: rgb(108, 91, 123);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.gray-bar-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 60%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;

}

.gray-bar-item{
    text-align: center;
}

.gray-bar{
    border-top: 4px solid #F2F2F2;
    border-bottom: 4px solid #F2F2F2;
}

.check-mark{
    color: rgb(0, 255, 68);
    font-size: 16px;
}

.gray-bar-text{
    color: rgb(15, 78, 161);
    font-size: 16px;
    font-weight: 700;
}



.main-section{

    display: block;
    background: rgba(204,173,173,1);
    background-image: url(https://d9hhrg4mnvzow.cloudfront.net/get.myspendingtracker.com/d8c34e98-background-web_1000000000000000000028.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    position: relative;
   
}

.main-section-grid{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    width: 60%;

}

.main-section-grid h1{
    text-align: right;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    line-height: 1;
}

.main-section-grid p{
    text-align: right;
    font-family: Open Sans;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
}


.logo{
    margin-top: 3rem;
    width: 189px;
    height: 59px;
}

.phone-container{
    background-image: url(https://d9hhrg4mnvzow.cloudfront.net/get.myspendingtracker.com/10t54uc-premia-iphone-front_10000000b50f500g000028.png);
    background-repeat: no-repeat;
    position: relative;
    height: 545px;
    width: 401px;
    margin-top: 3rem;
}

.video-container{
    position: absolute;
    top: 13%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

@media only screen and (max-width: 1100px) {

	.faq-grid{
	    width: 80%;
	}
    .user-reviews-grid{
        width: 70%;
    }

    .how-works-grid{
        width: 80%;
    }

    .gray-bar-grid{
        width: 80%;
    }

    .main-section-grid{
        width: 80%;
    }
 
}


@media only screen and (max-width: 600px) {

	.faq-grid{
		display: grid;
	    grid-template-columns: 100%;
	    width: 100%
	}

	.footer{
		display: flex;
		flex-direction: column;
        padding-bottom: 1rem;
        padding-top: 1rem;
	}

    .footer p{
        margin: 0.7rem;
    }

	.privacy-terms{
		display: flex;
		flex-wrap: wrap;
        align-items: center;
        justify-content: center;
	}

    .privacy-terms a{
        margin: 1rem 1rem;
    }

    .user-reviews-grid{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

     .how-works-grid{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

     .gray-bar-grid{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .gray-bar-item{
        margin-top: 0.6rem;
    }
 
}